.title-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: clamp(30px, 8vw, 80px);
  margin-bottom: clamp(20px, 8vw, 35px);

  .title-h2 {
    margin: 0;
  }
}

.tab-content {
  margin-top: clamp(20px, 8vw, 35px);
  font-family: roboto-r;
}