@import url("../../fonts.scss");

.title-h2 {
  font-size: clamp(20px, 2vw, 30px);
  font-family: roboto-b;
}
.indent {
  margin-top: clamp(30px, 8vw, 80px);
  margin-bottom: clamp(20px, 8vw, 35px);
}

.aboutgame__header-title {
  font-size: clamp(30px, 8vw, 40px);
}
