@font-face {
  font-family: "roboto-b";
  src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "roboto-r";
  src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "grotesk";
  src: url(fonts/SpaceGrotesk-Medium.ttf);
}
